main {
  margin: 0;
  height: 300px;
  overflow: scroll;
}
h1 {
  color: rgb(255, 255, 255);
  margin: 0;
  position: fixed;
  mix-blend-mode: difference;
}
div {
  height: 300px;
}
div:nth-child(1) {
  background-color: black;
}
div:nth-child(2) {
  background-color: white;
}
