*::after,
*::before,
* {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
p {
  font-size: 3rem;
  text-align: center;
}
a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
  overflow: hidden;
}
a::after {
  content: 'Hover, Missing 3?';
  position: absolute;
  top: 0;
  left: 0;
  color: red;
  transform: translateX(100%);
  transition: transform 1s ease-in-out;
}
a:hover::after {
  transform: translateX(0);
}
a span {
  display: inline-block;
  transition: transform 1s ease-in-out;
}
a span:hover {
  transform: translateX(-100%);
}
